<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/getFrom" method="get">
        <div class="content">
            <div>ID</div>
            <input type="email" placeholder="이메일을 작성해 주세요." name="email" required />
            <div onclick="">중복 확인</div>
        </div>

        <p>이름</p>
        <input type="text" placeholder="이름을 작성해 주세요." name="username" required />

        <p>비밀번호</p>
        <input type="password" placeholder="비밀번호를 작성해 주세요." name="pw" required />
        <input type="password" placeholder="비밀번호를 다시 작성해 주세요." name="pw" required />
        
        <input type="number" placeholder="나이를 작성해 주세요." name="age" required />
    </form>
</body>

</html>