<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- get 요청 -->
    <!-- 정확한 회원명만 입력했을 경우 -->
    <h4>회원정보 검색</h4>
    <form action="/getForm" method="get">
        <input type="text" placeholder="회원검색" name="id" required />
        <!-- 폼 안의 데이터 버튼으로 전송 시 타입 설정 필수 -->
        <button type="submit">회원정보 검색</button>
    </form>

    <hr />

    <!-- post 요청 -->
    <!-- 등록된 모든 정보를 userlist.ejs의 테이블로 확인. 아무것도 없는 경우 검색 진행 시 오류 문자 출력 -->
    <!-- 비밀번호 빼고 나타나기 -->
    <h4>회원정보 등록</h4>
    <form action="/postForm" method="post">
        <input type="email" placeholder="이메일을 작성해 주세요." name="email" required />
        <input type="password" placeholder="password를 작성해 주세요." name="pw" required />
        <input type="text" placeholder="회원이름을 작성해 주세요." name="username" required />
        <input type="number" placeholder="나이를 작성해 주세요." name="age" required />
        <button type="submit">회원정보 등록</button>
    </form>
</body>
</html>