<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 목록</title>
</head>
<body>
    <h3>회원 목록</h3>

    <div id="userTable"></div>

    <br /><br />
    <a href="/">홈으로 이동</a>
    
    <script src="/static/JS/userlist.js"></script>
</body>
</html>