<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>아이템 ID 페이지</h1>
    <p>아이템명 : <%= item.name %></p>
    <p>아이디 : <%= item.id %></p>
    <a href="/items">뒤로가기</a>
</body>
</html>